<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
     
        <bean class="in.sp.auto.xm.Add" id="name" ><!-- variable=name ka name same hona chahiye id=name -->
        <property name="namee" value="kapila"/>
        <property name="fname" value="122"/>

        </bean>
               
        <bean class="in.sp.auto.xm.Student"  autowire="byName">
        <property name="email" value="kapil1@gmail.com"/>
        <property name="roll" value="121"/>
         
               </bean>
        </beans>